


.antiquewhite{
    background-color:antiquewhite;
}
.powderblue{
    background-color: powderblue;
}
.mistyrose{
    background-color:mistyrose;
}
.palegoldenrod{
    background-color:palegoldenrod;
}